<html lang="ru">
    <head>
        <title>Группы</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Mobile support -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'styles.css') }}"/>
    </head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Posting bot</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link " href="/">Новый пост</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/groups">Группы</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/posts">Опубликованные</a>
      </li>
    </ul>
  </div>
</nav>
<div class="group-wrapper">
    <h1>Список групп</h1>
    {%for group in groups %}
        <div class="page">
            <span class="group-name">{{group['name']}}</span>
            {% if group['checked']%}
                <span class="text-success">• Группа подтвреждена</span>
            {% else %}
                <span class="text-warning">• Группа непроверена</span>
                <form method="post" class="button-form"  action="/check">
                    <input type="hidden" name="group" value="{{group['id']}}">
                    <button type="submit" class="btn btn-outline-warning">Проверить</button>
                </form>
            {% endif %}
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#modal-{{group['id']}}">Редактировать</button>
            <form method="post" class="button-form"  action="/delete">
                <input type="hidden" name="group" value="{{group['id']}}">
                <button type="submit" name="{{group}}" class="btn btn-outline-danger">Удалить</button>
            </form>
        </div>
        <div class="modal fade" id="modal-{{group['id']}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Редактирование группы</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form method="post" action="/change">
                  <div class="modal-body">
                      <div class="form-group">
                        <label for="{{group['name']}}">Имя Вашей группы</label>
                        <input type="text" class="form-control" name="name" id="{{group['name']}}" aria-describedby="emailHelp" value="{{group['name']}}">
                        <small id="text-{{group['name']}}" class="form-text text-muted">Вы можете задать любое имя, оно не обязательно должно совпадать с реальным.</small>
                      </div>
                      <div class="form-group">
                        <label for="field-{{group['id']}}">id Вашей группы</label>
                          <input type="hidden" value="{{group['id']}}" name="group">
                        <input disabled type="number" class="form-control" id="field-{{group['id']}}" aria-describedby="emailHelp" value="{{group['id']}}">
                      </div>
                      <div class="form-group">
                          <label for="inputState">Выберите социальную сеть</label>
                          <select id="{{group['type']}}" class="form-control col-md-6" name="group_type">
                              {% if group['type'] == 'VK' %}
                              <option selected>VK</option>
                              <option>Telegram</option>
                              <option>Facebook</option>
                              {% else %}
                              <option>VK</option>
                              <option selected>Telegram</option>
                              <option>Facebook</option>
                              {% endif %}
                          </select>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                  </div>
              </form>
            </div>
          </div>
        </div>
    {% endfor %}
    {% if not groups %}
    <p class="text-secondary">Вы не добавили ни одну группу.</p>
    {% endif %}
</div>
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Добавление группы</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="/add">
          <div class="modal-body">
              <div class="form-group">
                <label for="exampleInput">Имя Вашей группы</label>
                <input type="text" class="form-control" name="name" id="exampleInput" aria-describedby="emailHelp" placeholder="Имя">
                <small id="email" class="form-text text-muted">Вы можете задать любое имя, оно не обязательно должно совпадать с реальным.</small>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">id Вашей группы</label>
                <input type="number" class="form-control" name="group" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Вставьте id">
                <small id="emailHelp" class="form-text text-muted">ID можно получить в адресной строке вашей публикации</small>
              </div>
              <div class="form-group">
                  <label for="inputState">Выберите социальную сеть</label>
                  <select id="inputState" class="form-control col-md-6" name="group_type">
                      <option selected>VK</option>
                      <option>Telegram</option>
                      <option>Facebook</option>
                  </select>
              </div>
              <p> Для VK и Facebook: После отправки id группы к вам добавится наш бот. Сделайте его администратором и нажмите на кнопку "Проверить".</p>
              <p> Добавьте нашего бота @RozalyndBot в Вашу группу и сделайте его администратором, после чего нажмите на кнопку "Проверить".</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            <button type="submit" class="btn btn-primary">Сохранить</button>
          </div>
      </form>
    </div>
  </div>
</div>
<div class="add" data-toggle="modal" data-target="#modal">+</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>